html, body {
  height: 100%
}
.menu-section {
  background-color: #363232;
}
.secondary-menu-area {
  display: flex;
  justify-content: flex-end;
}

.user-account-container {
  display: flex;
}

.button4 {
  
}

.menu-header-area {
  display: flex;
  justify-content: space-between;
  background-color: #363232;
  height: 15vh;
  width: 100%;
  min-width: 50%;
  align-items: center;
}
.cards-section-area {
  background-color: #e0e0e0;
  height: 80vh;
  width: 100%;
}
.button-area {
  display:flex;
  flex-direction: row;
  padding-top: 70px;
  padding-left: 50px;
  margin-left: 80px;
  height:
  width: 75%;
}
.button1,.button2,.button3 {
  display: flex;
  font-size: 18px;
  margin-right: 65px;
  background-color: #363232;
  border-color: #363232;
  color: grey;
}
.div1 {
  display: flex;

}

.logo {
  font-size: 60px;
  color: white;
}

.heading {
  font-size: 50px;
  padding-left: 30px;
  background-color: #e0e0e0;
  color: gray;
}
